.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50vh;
    /* Center horizontally */
    position: absolute;
    /* Enable positioning */
    top: 50%;
    /* Move it to the center vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the container */
    font-size: 40px;
}


input {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-inline-end: 0.5rem;
    margin-bottom: 0.5rem;


}