body {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  background-color: rgba(3, 102, 82, 0.3);
}

button,
.link {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
  margin-left: 2vh;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width:1500px) {
  .map {
    flex-direction: column;
  }

  .App {
    flex-wrap: wrap;
  }

  .App-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}