body {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 400px;
  background-color: rgba(3, 102, 82, 0.3);
  width: 100%;
  height: 100%;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
}

input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: white;
  margin-right: 2vh;
}

button,
.link {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
  margin-left: 2vh;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
}

.map {
  margin-top: 5vh;
}